<div class="aboutcontainer" id="geova">
    <div class="infocontainer">
        <h2>¿Qué es Geova?</h2>
        <p>Geova es una solución práctica y eficiente para la medición de terrenos en proyectos de ingeniería civil y construcción. 
        Este sistema combina hardware avanzado con software intuitivo para entregar datos precisos de forma rápida, sencilla y económica.
</p>
        <h2>¿Por qué Geova?</h2>
        <p>Geova transforma lo complejo en simple. Te permite recopilar datos espaciales desde cualquier navegador, 
            gracias a su integración entre sensores físicos y una aplicación web fácil de usar. No necesitas ser experto: solo necesitas Geova.</p>
    </div>
    <div class="stickercontainer">
        <div class="caractcontainer">
        <div class="caracteristicas">
            <i class='bx bxs-stopwatch'></i><p>Eficiente</p>
        </div>
        <div class="caracteristicas">
            <i class='bx bxs-like' ></i><p>Fácil de usar</p>
        </div>
        <div class="caracteristicas">
            <i class='bx bxs-meteor'></i><p>Innovador</p>
        </div>
    </div>
    </div>
    <div class="corner-bottom-left"></div>
    
</div>