<div class="ContactContainer" id="contact">
<div class="nexocode">
    
    <img src="assets/nexocode.svg" alt="">
    <div class="nexocodeinfo">
        <h2>Acerca de nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa esse vitae unde perspiciatis
         quibusdam molestias blanditiis corrupti voluptate reiciendis. Quos non enim dolorem, excepturi velit sequi consectetur eos atque.</p>
    </div>
    
</div>
<div class="contactinfocontainer">
<div class="corner-top-right"></div>
<div class="contactinfo">
    <div class="contactnumber">
        <p class="p1">Contacto</p>
        <p><i class='bx bxs-phone'></i> 9614498464</p>
        <p><i class='bx bxs-envelope'></i>  geova_nexocode&#64;gmail.com.mx</p>
    </div>
    <div class="redessociales">
        <p><i class='bx bxl-instagram-alt' ></i></p>
        <p><i class='bx bxl-facebook-circle'></i></p>
        <p><i class='bx bxl-linkedin-square'></i></p>
        <p><i class='bx bxl-twitter'></i></p>
    </div>
    <div class="linkcontainer">
        <p>¿Estás interesado?</p>
        <button><a href="https://geova.namixcode.cc" target="_blank" class="button-link">Inicia con Geova</a></button>
    </div>
</div>
</div></div>