<div class="home" id="home">
    <div class="navbar">
        <img src="assets/logo.svg" alt="" class="logo">
        <div class="navbarlinks">

            <a href="#home">Home</a>
            <a href="#geova">Geova</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="eslogan">
        <h1>TE AYUDAMOS A MEDIR</h1>
        <h3>Mide tus proyectos de contruccion en minutos, no en horas</h3>
    </div>
    <div id="google_translate_element" class="translate-widget"></div>
</div>