<div class="galerycontainer" id="about">
    <div class="factscontainer">   
        <div class="facts">
            <p class="fact1">Geova no es solo un producto: es una forma más ágil, más accesible y más moderna de trabajar en campo</p>
            <div class="factslist">
                <p><i class='bx bxs-ruler'></i>
                Automatización total del proceso de medición: sin cintas métricas ni cálculos manuales. </p>
                <p> <i class='bx bxs-devices'></i>Interfaz accesible desde cualquier dispositivo con navegador web: portátil, tablet, móvil, laptop</p>
                <p> <i class='bx bx-world'></i>Sin necesidad de personal técnico: ideal para ingenieros, arquitectos, estudiantes o pequeñas constructoras.</p>
            </div>
        </div>
        <img src="assets/dispositivo.svg" alt="" class="dispositivo">
    </div>
    <div class="division"></div>

    <div class="galery">
  <div class="thumb">
    <img src="assets/galery1.svg" alt="Imagen 1" />
    <div class="caption">Encabezado1</div>

  </div>
  <div class="thumb">
    <img src="assets/galery2.jpg" alt="Imagen 2" />
    <div class="caption">Encabezado2</div>

  </div>
  <div class="thumb">
    <img src="assets/galery3.jpg" alt="Imagen 3" />
    <div class="caption">Encabezado3</div>
  </div>
  <div class="thumb">
    <img src="assets/galery4.jpg" alt="Imagen 3" />
    <div class="caption">Encabezado4</div>

  </div>
</div>
</div>